[
	{
		'name': "MADLib",
        'active': True,
         'JDBC': {
            'driver': "org.postgresql.Driver",
            'auth': ["postgres", "postgres"],
            'url': 'jdbc:postgresql://localhost:5432/postgres?reWriteBatchedInserts=true',
            'jar': 'postgresql-42.7.3.jar'
        }
    },
]
