[
	{
        'name': 'MADLib',
        'info': 'This is a demo of PostgreSQL',
        'active': True,
        'dialect': 'PostgreSQL',
         'JDBC': {
            'driver': "org.postgresql.Driver",
            'auth': ["postgres", ""],
            'url': 'jdbc:postgresql://localhost:5433/postgres?reWriteBatchedInserts=true',
            'jar': 'jars/postgresql-42.7.3.jar'
        }
    },
]
