{
	'name': 'TPCx-AI',
	'intro': 'Training Phase with Separate Preprocessing',
	'connectionmanagement': {
		'timeout': 10800,
		'singleConnection': True
	},
	'queries':
	[
		{
			'title': "UC01 - Training Preprocess",
			'query': "CALL uc01_preprocess('train', 'uc01_train_preprocessed')",
			'active': True,
		},
		{
			'title': "UC01 - Training",
			'query': "CALL uc01_train('uc01_train_preprocessed', 'uc01_model')",
			'active': True,
		},
		{
			'title': "UC03 - Training Preprocess",
			'query': "CALL uc03_preprocess('train', 'uc03_train_preprocessed')",
			'active': True,
		},
		{
			'title': "UC03 - Training",
			'query': "call uc03_train('uc03_train_preprocessed')",
			'active': True,
		},
		{
			'title': "UC04 - Training Preprocessing",
			'query': "call uc04_preprocess('train', 'uc04_train_preprocessed')",
			'active': True,
		},
		{
			'title': "UC04 - Training",
			'query': "call uc04_train('uc04_train_preprocessed', 'uc04_model')",
			'active': True,
		},
		{
			'title': "UC06 - Training Preprocess",
			'query': "call uc06_preprocess('train', 'uc06_train_preprocessed')",
			'active': True,
		},
		{
			'title': "UC06 - Training",
			'query': "CALL uc06_train('uc06_train_preprocessed', 'uc06_model', True)",
			'active': True,
		},
		{
			'title': "UC07 - Training Preprocess",
			'query': "CALL uc07_preprocess('train', 'uc07_train_preprocessed')",
			'active': True,
		},
		{
			'title': "UC07 - Training",
			'query': "call uc07_train('uc07_train_preprocessed', 'uc07_model', True)",
			'active': True,
		},
		{
			'title': "UC08 - Training Preprocessing",
			'query': "call uc08_preprocess('train', 'uc08_train_preprocessed')",
			'active': True,
		},
		{
			'title': "UC08 - Training",
			'query': "CALL uc08_train('uc08_train_preprocessed', 'uc08_model')",
			'active': True,
		},
		{
			'title': "UC10 - Training Preprocess",
			'query': "CALL uc10_preprocess('train', 'uc10_train_preprocessed')",
			'active': True,
		},
		{
			'title': "UC10 - Training",
			'query': "CALL uc10_train('uc10_train_preprocessed', 'uc10_model', False)",
			'active': True,
		},
	]
}
