{
	'name': 'TPCx-AI',
	'intro': 'Serving Phase',
	'connectionmanagement': {
		'timeout': 10800,
		'singleConnection': True
	},
	'queries':
	[
		{
			'title': "UC01 - Serve",
			'query': "CALL uc01_serve('uc01_model', 'uc01_serve_preprocessed_{STREAM}', 'uc01_serve_results_{STREAM}')",
			'active': True,
			'parameter': {
				'STREAM': {
					'type': "integer",
					'range': [1,1]
				},
			},
		},
		{
			'title': "UC03 - Serve",
			'query': "CALL uc03_serve('uc03_serve_preprocessed_{STREAM}', 'uc03_serve_results_{STREAM}')",
			'active': True,
			'parameter': {
				'STREAM': {
					'type': "integer",
					'range': [1,1]
				},
			},
		},
		{
			'title': "UC04 - Serve",
			'query': "call uc04_serve('uc04_serve_preprocessed_{STREAM}', 'uc04_serve_results_{STREAM}')",
			'active': True,
			'parameter': {
				'STREAM': {
					'type': "integer",
					'range': [1,1]
				},
			},
		},
		{
			'title': "UC06 - Serve",
			'query': "CALL uc06_serve('uc06_serve_preprocessed_{STREAM}', 'uc06_serve_results_{STREAM}')",
			'active': True,
			'parameter': {
				'STREAM': {
					'type': "integer",
					'range': [1,1]
				},
			},
		},
		{
			'title': "UC07 - Serve",
			'query': "call uc07_serve('uc07_serve_preprocessed_{STREAM}', 'uc07_serve_results_{STREAM}')",
			'active': True,
			'parameter': {
				'STREAM': {
					'type': "integer",
					'range': [1,1]
				},
			},
		},
		{
			'title': "UC08 - Serve",
			'query': "call uc08_serve('uc08_serve_preprocessed_{STREAM}','uc08_serve_results_{STREAM}')",
			'active': True,
			'parameter': {
				'STREAM': {
					'type': "integer",
					'range': [1,1]
				},
			},
		},
		{
			'title': "UC10 - Serve",
			'query': "call uc10_serve('uc10_serve_preprocessed_{STREAM}', 'uc10_serve_results_{STREAM}')",
			'active': True,
			'parameter': {
				'STREAM': {
					'type': "integer",
					'range': [1,1]
				},
			},
		},
	]
}
