{
	'name': 'TPCx-AI',
	'intro': 'Serving Phase',
	'connectionmanagement': {
		'timeout': 10800,
		'singleConnection': True
	},
	'queries':
	[
		{
			'title': "UC01 - Serve",
			'query': "CALL uc01_serve('uc01_model', 'uc01_serve_preprocessed_{STREAM}', 'uc01_serve_results_{STREAM}')",
			'active': True,
			'parameter': {
				'STREAM': {
					'type': "integer",
					'range': [1,1]
				},
			},
		},
	]
}
