{
	'name': 'TPCx-AI',
	'intro': 'Scoring Phase',
	'connectionmanagement': {
		'timeout': 10800,
		'singleConnection': True
	},
	'queries':
	[
		{
			'title': "UC01 - Scoring Preprocess",
			'query': "CALL uc01_preprocess('score', 'uc01_score_preprocessed')",
			'active': True,
		},
		{
			'title': "UC01 - Scoring Evaluate",
			'query': "CALL uc01_score('uc01_score_preprocessed', 'uc01_model')",
			'active': True,
		},
		{
			'title': "UC03 - Scoring Preprocess",
			'query': "call uc03_preprocess('score', 'uc03_score_preprocessed')",
			'active': True,
		},
		{
			'title': "UC03 - Scoring Apply",
			'query': "call uc03_predict('uc03_score_predictions')",
			'active': True,
		},
		{
			'title': "UC03 - Scoring Evaluate",
			'query': "call uc03_score('uc03_score_preprocessed', 'uc03_score_predictions', 'uc03_score_results')",
			'active': True,
		},
		{
			'title': "UC04 - Scoring Preprocessing",
			'query': "call uc04_preprocess('score', 'uc04_score_preprocessed')",
			'active': True,
		},
		{
			'title': "UC04 - Scoring Apply",
			'query': "call uc04_predict('uc04_score_preprocessed', 'uc04_model', 'uc04_score_predictions')",
			'active': True,
		},
		{
			'title': "UC04 - Scoring Evaluate",
			'query': "CALL uc04_score('uc04_score_predictions', 'uc04_score_results')",
			'active': True,
		},
		{
			'title': "UC06 - Scoring Preprocess",
			'query': "call uc06_preprocess('score', 'uc06_score_preprocessed')",
			'active': True,
		},
		{
			'title': "UC06 - Scoring Apply",
			'query': "CALL uc06_predict('uc06_score_preprocessed','uc06_model', 'uc06_score_predictions')",
			'active': True,
		},
		{
			'title': "UC06 - Scoring Evaluate",
			'query': "CALL uc06_score('uc06_score_predictions', 'uc06_score_results')",
			'active': True,
		},
		{
			'title': "UC07 - Scoring Preprocess",
			'query': "CALL uc07_preprocess('score', 'uc07_score_preprocessed')",
			'active': True,
		},
		{
			'title': "UC07 - Scoring Apply",
			'query': "call uc07_predict('uc07_score_preprocessed', 'uc07_model', 'uc07_score_predictions')",
			'active': True,
		},
		{
			'title': "UC07 - Scoring Evaluate",
			'query': "call uc07_score('uc07_score_predictions', 'uc07_score_results')",
			'active': True,
		},
		{
			'title': "UC08 - Scoring Preprocessing",
			'query': "call uc08_preprocess('score', 'uc08_score_preprocessed')",
			'active': True,
		},
		{
			'title': "UC08 - Scoring Apply",
			'query': "CALL uc08_predict('uc08_score_preprocessed','uc08_model', 'uc08_score_predictions')",
			'active': True,
		},
		{
			'title': "UC08 - Scoring Evaluate",
			'query': "call uc08_score('uc08_score_predictions', 'uc08_score_results')",
			'active': True,
		},
		{
			'title': "UC10 - Scoring Preprocess",
			'query': "CALL uc10_preprocess('score', 'uc10_score_preprocessed')",
			'active': True,
		},
		{
			'title': "UC10 - Scoring Apply",
			'query': "CALL uc10_predict('uc10_score_preprocessed', 'uc10_model', 'uc10_score_predictions')",
			'active': True,
		},
		{
			'title': "UC10 - Scoring Evaluate",
			'query': "CALL uc10_score('uc10_score_predictions', 'uc10_score_results')",
			'active': True,
		},
		{
			'title': "Show Evaluate Store",
			'query': "SELECT * FROM public.evaluation_results",
			'active': True,
			'timer':
			{
				'datatransfer':
				{
					'active': True,
					'compare': 'result',
				},
			}
		},
		{
			'title': "Show Artefacts",
			'query': """SELECT
    table_schema , table_name AS table_full_name,
    pg_size_pretty(pg_total_relation_size(quote_ident(table_schema) || '.' || quote_ident(table_name))) AS total_size
FROM
    information_schema.tables
WHERE
    table_type = 'BASE TABLE' and (table_name like '%uc0%' or table_name like '%uc1%')
ORDER BY
    (quote_ident(table_schema) || '.' || quote_ident(table_name)) ASC;
""",
			'active': True,
			'timer':
			{
				'datatransfer':
				{
					'active': True,
					'compare': 'result',
				},
			}
		},
	]
}
